* {
    margin: 0%;
    padding: 0%;
}

.header {
    text-align: center;
    position: absolute;
    width: 500px;
    top: 20px;
    left: 420px;
}

span {
    color: #F3873E;
}

div {
    display: inline-block;
    width: 250px;
    margin: 10px;
    background-color: #fffff2;
    position: absolute;
}

.imgs {
    margin: 30px;
    position: relative;
    top: 150px;
    left: 10px;
    height: 250px;
    width: 250px;
    background-color: #f1f1f1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

img {
    height: 200px;
    width: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}